.root {
    -fx-font-family: "JetBrains Mono", monospace;
    -fx-base: #2b2b2b;
    -fx-background: #3c3f41;
    -fx-text-fill: #a9b7c6;
}

.tab-pane {
    -fx-background-color: #2b2b2b;
}

.label, .list-view, .button {
    -fx-background-color: #3c3f41;
    -fx-text-fill: #a9b7c6;
}

.button:hover {
    -fx-background-color: #4e5254;
}

.about-label {
    -fx-font-size: 16px;
    -fx-text-fill: #ffffff;
    -fx-padding: 20px;
}